.vip-detail{
    div>span{
        font-size: 1.6rem;
    }
    Button{
        font-size: 1.2rem ;
    }
    .form{
        margin-bottom: 5rem;
    }
    
    .block-title{
        margin-top: 2rem;
        font-size: 1.6rem;
    }
}