.vip-add{
    div>.title{
        font-size: 1.6rem;
    }
    Button{
        font-size: 1.2rem ;
    }
    .form{
        margin-bottom: 5rem;
        font-size: 1.2rem;
    }
    .Form.Item{
        font-size: 12rem;

    }
    Input,Option{
        font-size: 1.2rem;
    }
    
    .block-title{
        font-size: 1.6rem;
    }
}