.appoint-teacher{
    padding-right: 1rem;
    .out-div{
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        margin-top: -1rem;
        .choose-item{
            display: inline;
            padding: 0.7rem 0.2rem; 
            width: 3.5rem;
            border-radius: 2rem;
            .top,.bottom{
                text-align: center;
            }
        }
       
    }
    .choose-time-item{
        text-align: center;
        margin-top: 1rem;
        background-color: lightgrey;
        border-radius: 0.5rem;
        padding: 0.3rem 0.8rem;
        width: 10rem;
        cursor: pointer;
    }
}


@media(min-width:1400px){
    .time-choose{
        width: 38rem;
    }
    .choose-time-item{
        padding: 0.3rem 0.8rem;
        width: 10rem;
    }
}

@media(max-width:1400px){
    .time-choose{
        width: 30rem;
    }
    .choose-time-item{
        padding: 0.1rem 0.2rem;
        width: 10rem;
    }
}